body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #F5EBEB;
}

header {
  background-color: #D5B4B4;
  padding: 10px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

nav li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #867070;
  font-weight: bold;
}

nav .active a {
  color: #fff;
  background-color: #867070;
  padding: 10px;
  border-radius: 5px;
}

main {
  background-color: #E4D0D0;
  padding: 50px;
}

section {
  text-align: center;
  color: #867070;
}

h1 {
  font-size: 50px;
  margin-bottom: 20px;
}

p {
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 40px;
}

.mentor-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.mentor {
  flex-basis: calc(25% - 20px);
  background-color: #D5B4B4;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 40px;
  text-align: center;
}

.mentor img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 20px;
}

.mentor h2 {
  font-size: 36px;
  margin-bottom: 10px;
}

.mentor h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

.mentor p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.mentor a {
  display: inline-block;
  background-color: #867070;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.3s ease;
}

.mentor a:hover {
  background-color: #fff;
  color: #867070;
  border: 2px solid #867070;
}

.register{
  background-color: #E4D0D0;
}
